.credit-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
}

.credit-card-container {
  position: absolute;
  top: -110px;
  left: 0;
  right: 0;
}

.stars {
  font-size: 7px;
}